@font-face {
    font-family: 'fuente1';
    src: url(./fonts/Roboto/Roboto-Black.ttf);
}

.container {
    width: 98%;
    height: 97vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(17, 235, 82, 0.6), rgba(4, 61, 18, 0.6) ), url(./img/mujer-spa.webp);
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    font-family: "fuente1";
    font-size: 6em;
    color: white;
}

.cont-bot a {
    width: 100px;
    height: 100px;
    border-radius: 90%;
    color: rgb(5, 71, 25);
    text-decoration: none;
    font-size: 1.5em;
    font-family: "fuente1";
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.cont-bot a:hover {
    transform: scale(1.2);
}
@media (max-width: 750px) {
    .container {
        background-image: none;
        background: linear-gradient(rgba(17, 235, 82, 0.6), rgba(4, 61, 18, 0.6));
    }
}

@media (max-width: 600px){
    .container p {
        font-size: 4em;
    }
}

@media (max-width: 400px) {
    .container p {
        font-size: 3em;
    }
}